.img-wrapper{
   position: relative;
height: 400px;
width: 100%;

}
.footer{
   overflow: auto;
}
.header-top{
   background-color: #c3c2c2;
   text-align: center;
   height: 60px;
   overflow: auto;
   align-items: center;
 
}
.nav-item{
   padding:2px;
   margin-left: 7px;
   font-size: large;
   text-align: center;
   font-weight:bold;
   position: relative;
}